PORT=3000
FRONTEND_URL=http://localhost:5173

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=ediary
KEYCLOAK_CLIENT_ID=e-diary-backend
KEYCLOAK_CLIENT_SECRET=

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=ediary
DATABASE_SYNC=false

S3_ENDPOINT=http://localhost:9000
S3_PUBLIC_URL=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET=e-diary
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin